#logo {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial,Helvetica,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 1;
}
#logo {
  padding: 1em;
}
#logo h1, #logo h2 {
  margin: 0;
}
#logo h1 {
  height: 100px;
}
#logo h1 span {
  float: left;
  height: 100%;
}
#logo h1 #EARS {
  background: transparent url(../images/EARS_logo.png) no-repeat scroll left top;
  width: 100px;
  text-indent: -1000em;
  height: 100px;
  text-transform: uppercase;
  color: #3366ff;
  font-size: 100px;
}
#logo h1 #WRT {
  width: 50px;
  height: 50px;
  text-indent: -1000em;
  font-size: 50px;
  text-transform: uppercase;
  color: #cc0000;
}
#EARS_desc {
  text-align: left;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: normal;
}
#EARS_files {
  text-align: left;
  font-weight: bold;
  font-family: "Courier New",Courier,monospace;
  font-size: 14pt;
}
